<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {webtitle: "Home" }) %>
</head>
<%- include('./partials/header') %>
<body>    
    <div class="home_container">
        <div class="title">
            <h1><center>MICROSERVICIO VENTAS</center></h1>
        </div>
        <div class="employee_container">
            <a class="btn_primary" href="/products">Productos</a>
            <a class="btn_primary" href="/sales">Ventas</a>
        </div>
        <div class="admin_container">
            <a class="btn_primary" href="/users">Administrar Usuarios</a>
            <a class="btn_primary" href="/sales">Administrar Ventas</a>
            <a class="btn_primary" href="/products">Administrar Productos</a>
        </div>
    </div>
</body>
</html>