<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {webtitle: "Home" }) %>
</head>
<%- include('./partials/header') %>
<body>    
    <div class="header_container">
        <div class="title">
            <h1><center>MICROSERVICIO VENTAS</center></h1>
        </div>
        <div>
            <a href="/users">Administrar Usuarios</a>
            <a href="/sales">Administrar Ventas</a>
            <a href="/products">Administrar Productos</a>
        </div>
    </div>
</body>
</html>